<div class="container" style="width: 500px !important;">

  <h1 class="font-weight-light text-center mt-4 mb-3" style="font-family: 'Gill Sans', 
'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <a href="/" style="color: #16a085 !important;">
      Library Store

      <span class="material-icons" style="font-size: 2.5rem;">
        local_library
      </span>
    </a>
  </h1>
  <div class="center-box  border rounded-bottom rounded-right pl-5 pr-5 pt-4">

    <form class="mb-3 justify-content-center" [formGroup]="registerForm" style=" width: 300px;" (submit)="cadastrar()">
      <h5 class="mb-1 font-weight-normal text-muted text-center">Cadastro</h5>
      
      <div class="form-group justify-content-center">
        <label for="nome">Nome</label>
        <input formControlName="nome" type="text" id="nome" class="form-control" placeholder="Digite o nome">
          <message-error-form *ngIf="registerForm.get('nome').dirty && registerForm.get('nome').errors?.required"
           mensagem="Informe o Nome"></message-error-form>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control" placeholder="Digite o Email">
        <message-error-form *ngIf="registerForm.get('email').dirty && registerForm.get('email').errors?.required"
           mensagem="Informe o Email"></message-error-form>
        <message-error-form *ngIf="registerForm.get('email').dirty && registerForm.get('email').errors?.email"
           mensagem="Email invalido"></message-error-form>
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input formControlName="senha" type="password" id="senha" class="form-control" placeholder="Digite a Senha">
        <span class="material-icons" (click)="changePasswordInput()">
          visibility
        </span>
        <message-error-form *ngIf="registerForm.get('senha').dirty && registerForm.get('senha').errors?.required"
           mensagem="Informe a Senha"></message-error-form>
      </div>

      <button class="btn btn-primary btn-block active mt-2" type="submit"
        [disabled]="!registerForm.valid">Cadastrar</button>

      <div class="mt-4 text-center" style="flex-direction: column;">
        <a href="/login" style="font-size: 0.9rem;">Já possuo uma conta</a>
      </div>

    </form>
  </div>
</div>