<div class="row mt-5 text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card" style="width: 1rem;">
                    <a href="">
                        <img class="img-fluid img-thumbnail card-img-top" src="assets/img/dout.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">A Doutrina Secreta
                                <p class="card-text" style="font-size: 1rem;">
                                    <small class="text-muted">
                                        Livro por 
                                        <strong>
                                        Stephen Baxter
                                    </strong>
                                    </small>
                                </p>
                            </h5>
                        </a>
                        <p class="mb-2 d-flex justify-content-center">
                            <del class="mr-2 text-muted" style="font-size: 11pt;"> R$ 260 </del>
                            <span class="text-muted" style="font-size: 1.4rem; font-weight: 300;">R$ 190</span>
                        </p>

                        <a href="#" class="btn btn-primary">Add to Car</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="assets/img/cic.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">A Ciência de Avatar
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                Livro por Stephen Baxter
                            </small>
                        </p>
                        <h5>$24.99</h5>


                        <button type="button" class="btn btn-raised btn-success">Add to car</button>
                        <button type="button" class="btn btn-sm btn-secondary">Informations</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="assets/img/semente.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Mastral</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="assets/img/filho.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-raised btn-success">Success</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-raised btn-success">Success</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-raised btn-success">Success</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6 text-center mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-raised btn-success">Success</button>
                    </div>
                </div>
            </div>
        </div>
    </div>