<div class="container-fluid">
    <div class="row mt-5 text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6 text-center mb-3" *ngFor="let book of books">
            <div class="card-deck">
                <div class="card">
                    <a [routerLink]="[ '/book', book.id ]">
                        <img class="img-fluid img-thumbnail card-img-top" src="{{book.imagemURL}}" alt="">
                    </a>
                    <div class="card-body">
                        <a [routerLink]="[ '/book', book.id ]">
                            <span class="card-title" style="font-size: 0.9rem;" title="{{book.titulo}}">{{book.titulo | slice:0:50}}                                                  
                                <span *ngIf="book.titulo.length > 50">...</span>
                                <p class="card-text" style="font-size: 0.9rem;">
                                    <small class="text-muted">
                                        Livro por
                                        <strong>
                                            {{book.autor}}
                                        </strong>
                                    </small>
                                </p>
                            </span>
                        </a>
                      <!--   <p class="mb-2 d-flex justify-content-center">
                            <del class="mr-2 text-muted" style="font-size: 11pt;"> R$ 260 </del> 
                            <span class="text-muted"
                                style="font-size: 1.4rem; font-weight: 300;">{{book.preco | currency:'BRL':true}}</span>
                        </p>
-->
                        <!-- <a href="#" class="btn btn-primary">Add to Car</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <nav aria-label="...">
            <ul class="pagination mr-3">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>