.icones-nav {
    width: 80%;
}

.notifications {
    display: inline-block;
    position: relative;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: blue;
}

.search {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.search .search-icon {
    font-size: 2rem;
}
.icon {
    margin-top: 7%;
    padding: 4px;
    font-size: 2.5rem;
    cursor: pointer;
}

.icon:hover {
    color: darkcyan;
}