<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Library Store
    <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search"
        aria-expanded="false" aria-controls="collapse-search">
        <i class="material-icons text-success" style="font-size: 2rem;">search</i>
    </button>
    <span id="collapse-search" class="collapse">
        <input class="form-control" type="text" id="search" placeholder="O que procuras?">
    </span>
</h1>

<hr class="mt-2 mb-3">