.icones-nav {
    width: 80%;
}

.notifications {
    display: inline-block;
    position: relative;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: blue;
}

.search {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.search .search-icon {
    font-size: 2rem;
}
.icon {
    margin-top: 7%;
    padding: 4px;
    font-size: 2.5rem;
    cursor: pointer;
}

.icon:hover {
    color: darkcyan;
}

#user-icon:hover {
    color: darkcyan !important;
}

.cart {
    margin-top: 10px;
    height: 40px;
    padding: 4px;
    margin-top: 10px;
    font-size: 1.8rem !important;
    vertical-align: middle;
    color: black;
    align-items: center;
    margin-right: 10px;
}

.table-inverse thead th, thead.thead-inverse th {
    color: darkcyan;
}

.dropdown-menu {
    right: 100%;
    width: 350px;
    max-width: 400px;
}

.cart:hover {
    cursor: pointer;
    background-color: rgba(0, 139, 139, 0.158);
}

.opcoes-conta {
    cursor: pointer;
}

.opcoes-conta small:hover {
    color: #16a085 !important;
}

.cart .size {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
