<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-5 col-sm-12 justify-content-center" style="display: flex;">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="font-family: 'Gill Sans', 
  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; display: flex;">
        <a routerLink="/" style="color: darkgreen;">
          Library Store

          <span class="material-icons" style="font-size: 2.5rem;">
            local_library
          </span>
        </a>
      </h1>

    </div>

    <div class="col-md-4">

      <div class="bmd-form-group bmd-collapse-inline pull-xs-right v-middle mt-4">
        <button class="btn bmd-btn-icon" for="search">
          <i class="material-icons ">search</i>
        </button>
        <span id="collapse-search" class="collapse show">
          <input class="form-control" type="text" id="search" placeholder="Busque por livros..."
            style="font-size: 1.4rem;" (keyup)="buscar($event)">
        </span>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center mt-3">
     
      <div class="cart d-flex">
        <span class="material-icons" style="font-size: 2rem;">
          shopping_cart
          </span>
          
          <div class="size d-flex">
            {{cartSize}}
          </div>
      </div>

      <div class="dropdown show">
        <span class="material-icons text-muted pl-2 pt-2" style="vertical-align: middle; font-size: 2.5rem;
           cursor: pointer;" id="user-icon">
          account_circle
        </span>

        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink" id="dropdown">
          <a class="dropdown-item">Login</a>
          <a class="dropdown-item" >Criar Conta</a>
        </div>
    </div>
  </div>
</div>

<hr class="mt-2 ">

</div>