<div class="container-fluid">

    <h5 class="text-muted ml-3 mt-1">Categoria
        <strong>{{categoria.nome}}</strong>
    </h5>

    <div class="row mt-5 text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3" *ngFor="let book of books | paginate: config"
            [className]="books.length < 4 ? 'col-lg-4 col-md-3 text-center mb-3' :
            'col-lg-3 col-md-4 text-center mb-3'">
            <div class="card-deck">
                <div class="card">
                    <a [routerLink]="[ '/book', book.link ]">
                        <img [hidden]="loading" (load)="this.loading = false;" class="" src="{{book.imagemURL}}" alt=""
                            width="180">
                        <div class="spine spinner-grow text-success" role="status" [hidden]="!loading">
                            <span class="sr-only d-flex justify-content-center">Loading...</span>
                        </div>
                    </a>
                    <div class="card-body">
                        <a [routerLink]="[ '/book', book.link ]">
                            <span class="card-title" style="font-size: 0.9rem;"
                                title="{{book.titulo}}">{{book.titulo | slice:0:50}}
                                <span *ngIf="book.titulo.length > 50">...</span>
                                <p class="card-text" style="font-size: 0.9rem;">
                                    <small class="text-muted">
                                        Livro por
                                        <strong>
                                            {{book.autor}}
                                        </strong>
                                    </small>
                                </p>
                            </span>
                        </a>
                        <h6 class="mt-2">
                            <span style=" font-weight: 600; color: #16a085;">{{book.preco | currency:'BRL':true}}</span>

                        </h6>
                        <span class="text-muted">
                            <del>
                                {{book.precoAnterior | currency:'BRL':true}}
                            </del>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end" *ngIf="books.length > 10">
        <nav aria-label="...">
            <ul class="pagination mr-3">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active disabled"><a class="page-link" href="#">1</a></li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>