<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush ju">
        <a href="#" class="list-group-item list-group-item-action bg-light">Biografias</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Folclore</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Literatura Brasileira</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Coleções</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Literatura Estrangeira</a>
      </div>
    </div>

    <router-outlet></router-outlet>

</div>