<div class="container-fluid">

    <div class="row justify-content-end mr-5">
        <div class="form-group">
            <label for="exampleSelect2" class="bmd-label-floating">Filtrar Por</label>
            <select class="form-control" id="exampleSelect2" style="width: 100px;">
                <option value="titulo" selected>Título</option>
            </select>
        </div>
    </div>
    <div class=" row mt-2 text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3" 
        *ngFor="let book of books" [className]="books.length < 4 ? 'col-lg-8 col-md-3 text-center mb-3' :
        'col-lg-3 col-md-4 text-center mb-3'">
            <card-book [book]="book" />
        </div>
    </div>

    <div class="row justify-content-center d-flex">
        <button [hidden]="this.books.length == 0" type="button" class="btn btn-md btn-raised btn-dark m-3"
            (click)="alterarPaginacao()">
            Mostrar mais
            <span class="material-icons" style="vertical-align: middle;">
                keyboard_arrow_down
            </span>
        </button>
    </div>
</div>