<div class="container" style="width: 500px !important;">

  <h1 class="font-weight-light text-center mt-4 mb-3" style="font-family: 'Gill Sans', 
'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <a href="/" style="color: #16a085 !important;">
      Library Store

      <span class="material-icons" style="font-size: 2.5rem;">
        local_library
      </span>
    </a>
  </h1>
  <div class="center-box border rounded-bottom rounded-right pl-5 pr-5 pt-4">
    <form class="mb-4" style=" width: 300px;" [formGroup]="loginForm" (submit)="fazerLogin()">

      <h5 class="mb-1 font-weight-normal text-muted text-center">Entrar no Sistema</h5>

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control" placeholder="Digite o Email">
        <message-error-form *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors?.required"
          mensagem="Informe o Email"></message-error-form>
        <message-error-form *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors?.email"
          mensagem="Email invalido"></message-error-form>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input formControlName="senha" type="password" id="senha" class="form-control" placeholder="Digite a Senha">
        <span class="material-icons" (click)="changePasswordInput()">
          visibility
        </span>
        <message-error-form *ngIf="loginForm.get('senha').dirty && loginForm.get('senha').errors?.required"
          mensagem="Informe a Senha"></message-error-form>
      </div>

      <a href="#" style="font-size: 0.9rem;">Esqueceu a senha?</a>

      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Me lembre
        </label>
      </div> -->
      <button class="btn btn-primary btn-block active mt-2" type="submit" [disabled]="!loginForm.valid">Logar</button>

      <div class="text-center">
        <div class="mt-3" style="flex-direction: column;">
          <span>Ou então</span>
          <br>
          <a href="/cadastro" style="font-size: 0.9rem;">Ainda não possuo uma conta</a>
        </div>
      </div>
    </form>
  </div>
</div>