<footer class="py-3 " style="background-color: #22303f !important;">
    <div class="container">

        <div class="d-flex justify-content-center">
            <p class="text-center text-white" style="padding-top: 10px;">Copyright &copy; AndersonDev {{date}}</p>

            <div class="pl-5" >
                <a *ngFor="let icone of icones" href="{{icone.link}}" style="text-decoration: none;" target="blanck">
                    <i class="{{icone.class}}"></i>
                </a>
            </div>
        </div>
    </div>
</footer>