<div class="container">

  <nav aria-label="breadcrumb w-5">
    <ol class="breadcrumb" style="background-color: #fafafa">
      <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/">Livros</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{book.titulo}}</li>
    </ol>
  </nav>
  <div class="row justify-content-center d-flex">
    <div class="col-lg-10">

      <h2 class="text-success text-center">
        {{book.titulo}}
      </h2>

      <hr>
      <!-- Date/Time -->
      <p>Criado em {{book.dataCriacao}}</p>

      <hr>

      <div class="row">

        <div class="col-md-6 col-sm-12">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{book.imagemURL}}" alt="" [hidden]="loading"
            (load)="this.loading = false;">
          <div class="spine spinner-grow text-success" role="status" [hidden]="!loading">
            <span class="sr-only d-flex justify-content-center">Loading...</span>
          </div>
        </div>

        <!-- /.col-lg-8 -->
        <div class="col-md-6 col-sm-12">
          <span class=" mt-4 text-muted">Um livro de
            <strong>
              {{book.autor}}
            </strong>
          </span>
          <h2 class="font-weight-light text-center"></h2>
          <p>{{book.descricao | slice:0:sliceLength}}
            <small *ngIf="sliceLength == 1000 && book.descricao.length > sliceLength">...</small>

          </p>
          <button type="button" class="btn btn-primary" *ngIf="book.descricao.length > 1000" (click)="changeSlice()">Ver
            descrição completa</button>
        </div>

      </div>

    </div>

  </div>
  <!-- /.row -->

  <hr class="py-3 my-5">
  <h2 class="m-4 text-secondary text-justify">Relacionados: </h2>

  <div class="row">
    <div class="col-md-3 mb-5" *ngFor="let bookIt of books">
      <div class="card">
        <a href="/book/{{bookIt.link}}" class="justify-content-center d-flex text-center">
          <img class="img-thumbnail card-img-top"
            src="{{bookIt.imagemURL}}" alt=""
            style="width: 200px;">
        </a>
        <div class="card-body text-center">
          <a [routerLink]="[ '/book', bookIt.link ]">
            <span class="card-title text-center" style="font-size: 0.8rem;">{{bookIt.titulo | slice:0:50}}                                                  
              <span *ngIf="bookIt.titulo.length > 50">...</span>
              <p class="card-text" style="font-size: 1rem;">
                <small class="text-muted">
                  Livro por
                  <strong>
                    {{bookIt.autor}}
                  </strong>
                </small>
              </p>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>