<div class="container">
  <nav aria-label="breadcrumb w-5" style="width: 280px;">
    <ol class="breadcrumb" style="background-color: #FFF;">
      <li class="breadcrumb-item"><a routerLink="/">Livros</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{book.id}}</li>
    </ol>
  </nav>
  <div class="row justify-content-center d-flex">
    <div class="col-lg-10">

      <h2 class="text-success text-center">
        {{book.titulo}}
      </h2>

      <hr>
      <!-- Date/Time -->
      <p>Criado em January 1, 2019 at 12:00 PM</p>

      <hr>

      <div class="row">

        <div class="col-md-6 col-sm-12">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{book.imagemURL}}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-md-6 col-sm-12">
          <span class=" mt-4 text-muted">Um livro de
            <strong>
              {{book.autor}}
            </strong>
          </span>
          <h2 class="font-weight-light text-center"></h2>
          <p>{{book.descricao | slice:0:sliceLength}}
            <small *ngIf="sliceLength == 1000 && book.descricao.length > sliceLength">...</small>

          </p>
          <button type="button" class="btn btn-primary" *ngIf="book.descricao.length > 1000" (click)="changeSlice()">Ver
            descrição completa</button>
        </div>

      </div>

    </div>

  </div>
  <!-- /.row -->

  <hr class="py-3 my-5">
  <h2 class="m-4 text-secondary text-justify">Relacionados: </h2>

  <div class="row">
    <div class="col-md-3 mb-5">
      <div class="card">
        <a href="" class="justify-content-center d-flex text-center">
          <img class="img-thumbnail card-img-top"
            src="https://images-americanas.b2w.io/produtos/imagens/5326946/5326947_1GG.jpg" alt=""
            style="width: 200px;">
        </a>
        <div class="card-body text-center">
          <a href="">
            <span class="card-title text-center" style="font-size: 1.2rem;">aidjiwaiojhwiodjijwijdw
              <p class="card-text" style="font-size: 1rem;">
                <small class="text-muted">
                  Livro por
                  <strong>
                    testetetse
                  </strong>
                </small>
              </p>
            </span>
          </a>
          <p class="mb-2 d-flex justify-content-center">
            <!-- <del class="mr-2 text-muted" style="font-size: 11pt;"> R$ 260 </del> -->
            <span class="text-muted" style="font-size: 1.4rem; font-weight: 300;">{{29.90 | currency:'BRL':true}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div class="card">
        <a href="" class="justify-content-center d-flex text-center">
          <img class="img-thumbnail card-img-top"
            src="https://images-americanas.b2w.io/produtos/imagens/5326946/5326947_1GG.jpg" alt=""
            style="width: 200px;">
        </a>
        <div class="card-body text-center">
          <a href="">
            <span class="card-title text-center" style="font-size: 1.2rem;">aidjiwaiojhwiodjijwijdw
              <p class="card-text" style="font-size: 1rem;">
                <small class="text-muted">
                  Livro por
                  <strong>
                    testetetse
                  </strong>
                </small>
              </p>
            </span>
          </a>
          <p class="mb-2 d-flex justify-content-center">
            <!-- <del class="mr-2 text-muted" style="font-size: 11pt;"> R$ 260 </del> -->
            <span class="text-muted" style="font-size: 1.4rem; font-weight: 300;">{{29.90 | currency:'BRL':true}}</span>
          </p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-3 mb-5">
      <div class="card">
        <a href="" class="justify-content-center d-flex text-center">
          <img class="img-thumbnail card-img-top"
            src="https://images-americanas.b2w.io/produtos/imagens/5326946/5326947_1GG.jpg" alt=""
            style="width: 200px;">
        </a>
        <div class="card-body text-center">
          <a href="">
            <span class="card-title text-center" style="font-size: 1.2rem;">aidjiwaiojhwiodjijwijdw
              <p class="card-text" style="font-size: 1rem;">
                <small class="text-muted">
                  Livro por
                  <strong>
                    testetetse
                  </strong>
                </small>
              </p>
            </span>
          </a>
          <p class="mb-2 d-flex justify-content-center">
            <!-- <del class="mr-2 text-muted" style="font-size: 11pt;"> R$ 260 </del> -->
            <span class="text-muted" style="font-size: 1.4rem; font-weight: 300;">{{29.90 | currency:'BRL':true}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>