<div class="container-fluid">


  <nav aria-label="breadcrumb w-5">
    <ol class="breadcrumb" style="background-color: #FFF; vertical-align: middle;">
      <li class="breadcrumb-item"><a routerLink="/">
          Home </a>
        </li>
      <li class="breadcrumb-item active" aria-current="page">{{book?.titulo | slice:0:40}}
        <span *ngIf="book.titulo.length > 40">...</span>
      </li>
    </ol>
  </nav>
  <div class="row justify-content-center d-flex">
    <div class="col-lg-10">

      <hr>

      <!-- Informações sobre o livro -->

      <div class="row">

        <div class="col-md-7 col-sm-12">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{book.imagemURL}}" alt="">
        </div>

        <div class="col-md-5 col-sm-12 mt-4">
          <strong>
            <h6 class="text-dark" style="font-weight: 100;">{{book.titulo}}</h6>
          </strong>
          <span class=" mt-4 text-muted">Um livro de
            <strong>
              {{book.autor}}
            </strong>
          </span>

          <div class="preco">
            <hr>

            <h2 class="text-justify text-danger" style="font-family: 'Franklin Gothic Medium',
                'Arial Narrow', Arial, sans-serif">{{book.preco | currency:'BRL':true}}</h2>
            <span class="text-muted">
              <del>
                {{book.precoAnterior | currency:'BRL':true}}
              </del>
            </span>
            <br>

            <label for="" class="pt-4" style="font-size: 0.8rem;">Quantidade</label><br>
            <div class="counter">

              <span class="material-icons icon" (click)="increment()" id="increment">
                add
              </span>

              <span id="quantity">{{quantidade}}</span>

              <span class="material-icons icon remove" (click)="decrement()" id="decrement">
                remove
              </span>
            </div>

            <div class="form-group mt-3">
              <label for="exampleSelect2" class="bmd-label-floating">Tipo de Mídia</label>
              <select class="form-control" id="exampleSelect2" [(ngModel)]="midiaSelecionada">
                <option *ngFor="let midia of midias | keyvalue" [value]="midia.value">{{midia.value}}</option>
              </select>
            </div>

            <button type="button" class="btn btn-raised btn-sm btn-danger" style="font-size: 1rem;"
              (click)="adicionarItemAoCarrinho(book)" data-toggle="modal" data-target="#exampleModalCenter">
              Adicionar ao Carrinho
              <span class="material-icons" style="vertical-align: middle;">
                add_shopping_cart
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <span class="material-icons text-success" style="font-size: 6rem;">
            check_circle
          </span>

          <h6 class="modal-title text-center text-justify" id="exampleModalLongTitle">
            <strong class="text-success">
              + {{quantidade}} Novo(s) Livro(s)
            </strong>
            Adicionado(s) ao Seu Carrinho</h6>

          <ul class="list-group">
            <li class="list-group-item"
              style="font-size: 1rem; align-items: center; display: flex; justify-content: center;">
              <span class="material-icons text-success pr-2" style="font-size: 2rem; vertical-align: middle;">
                shopping_cart
              </span>

              <span class="badge badge-secondary badge-pill mr-2" style="font-size: 1rem;">{{carrinhoQuantidade}}</span>
              Livro(s)
              | Total:
              <span class="badge badge-secondary badge-pill ml-2" style="font-size: 1rem;">
                {{totalPreco | currency:'BRL':true}}
              </span>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light bg-secondary mr-2" data-dismiss="modal">Continuar
            Comprando</button>
          <a routerLink="/cart-detalhes">
            <button type="button" class="btn btn-light bg-success" data-dismiss="modal">
              <span style="vertical-align: middle;">
                Ver meu Carrinho
              </span>
              <span class="material-icons text-light" style="font-size: 1.5rem; vertical-align: middle;">
                shopping_cart
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex justify-content-center mt-3">
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th scope="col">Título</th>
          <td scope="row">{{book.titulo + ' (Publicado em ' + book.dataPublicacao + ')'}}</td>
        </tr>
        <tr>
          <th scope="col">Autor</th>
          <td scope="row">{{book.autor}}</td>
        </tr>
        <tr>
          <th scope="col">Editora</th>
          <td scope="row">{{book.editora}}</td>
        </tr>
        <tr>
          <th scope="col">Idioma</th>
          <td scope="row">{{book.idioma}}</td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="row d-flex justify-content-center">
    <div class="col-12">

      <h3 style="font-weight: 300;" class="text-muted d-flex justify-content-center">Descrição sobre o livro: </h3>

      <div class="jumbotron mt-3">
        <p class="text-muted" style="font-size: 0.9rem; font-weight: bold;">
          {{book.descricao | slice:0:sliceValor}}
          <small *ngIf="sliceValor == 1000 && book.descricao.length > sliceValor">...</small>
        </p>
        <button type="button" class="btn btn-success " *ngIf="book.descricao.length > 1000"
          (click)="alterarValorSlice()">Ver
          mais</button>
      </div>
    </div>
  </div>

  <!-- Relacionados -->

  <hr class="py-3 my-5">
  <h2 class="m-1 text-secondary text-justify">Relacionados: </h2>

  <div class="row">
    <div class="col-md-3 mb-5" *ngFor="let bookIt of books">
      <div class="card">
        <a href="/book/{{bookIt.link}}" class="justify-content-center d-flex text-center">
          <img class="img-thumbnail card-img-top" src="{{bookIt.imagemURL}}" alt="" style="width: 200px;">
        </a>
        <div class="card-body text-center">
          <a [routerLink]="[ '/book', bookIt.link ]">
            <span class="card-title text-center" style="font-size: 0.8rem;"
              title="{{bookIt.titulo}}">{{bookIt.titulo | slice:0:50}}
              <span *ngIf="bookIt.titulo.length > 50">...</span>
              <p class="card-text" style="font-size: 1rem;">
                <small class="text-muted">
                  Livro por
                  <strong>
                    {{bookIt.autor}}
                  </strong>
                </small>
              </p>
            </span>
          </a>
          <strong>
            <p class="mt-2">
              <span class="text-success"
                style="font-size: 0.8rem; font-weight: 600;">{{bookIt.preco | currency:'BRL':true}}</span>
            </p>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>